.navbar {
    transition: all 0.3s ease-in-out; 
    background-color: #fff; /* Fondo blanco navbar*/
}

/* enlaces menú */
.navbar-nav .nav-link {
    color: #333; /* Color del texto */
    transition: color 0.3s ease;
    margin-right: 15px; /* Espacio enlaces */
}

/* Animación cursor enlace */
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: #007bff; 
    text-decoration: underline; /* Subrayado al pasar el mouse */
}

/* texto nombre Nexa Academy*/
.navbar-brand span {
    font-size: 1.2rem; /* Tamaño texto */
    color: #007bff; 
}

/* Botón login */
.btn-outline-primary {
    border-color: #007bff; /* Borde azul */
    color: #007bff /* Texto azul */
}

/* animacion boton login*/
.btn-outline-primary:hover {
    background-color: #007bff; /* Fondo azul al pasar el mouse */
    color: white; 
}
